/* Mobile XS*/

@media (max-width: 599px) {
    .container {
        width: 320px;
    }

    .header-content {
        width: 320px;
    }

    .header-content {
        padding-bottom: 14px;
    }

    .logo {
        font-size: 30px;
    }

    .logo.main-logo {
        font-size: 30px;
    }

    .header-title {
        font-size: 32px;

        margin-bottom: 10px;
    }

    .header-content p {
        font-size: 18px;
    }

    .header-scroll::after {
        transform: translate(-82%);
    }

    /* Main */
    .transfer-2 {
        display: none;
    }

    .main {
        padding: 40px 0;
    }

    .main-row:nth-child(even) {
        flex-direction: column-reverse;
    }

    .main-row {
        flex-direction: column-reverse;

        margin-bottom: 40px;
    }

    .main-content.block-width {
        width: auto;
    }

    .main-img {
        width: auto;
        height: 150px;

        margin-bottom: 20px;
    }

    .main-header {
        font-size: 34px;
    }

    /* Footer */

    .footer {
        text-align: center;
    }

    .footer-row {
        flex-direction: column;
    }

    .footer-logo {
        margin-bottom: 10px;
    }

    .footer-copyright {
        padding: 0 20px;
    }

    .footer-widgets-wrapper {
        flex-direction: column;
        align-items: center;

        margin-bottom: 40px;
    }

    .footer-widget:not(:last-child) {
        margin: 0 0 40px;
    }

    .footer-widget-services {
        display: block;
    }

    .footer-widget-contacts p {
        margin-bottom: 10px;
    }

    .footer-widgets-wrapper>* {
        width: 100%;
    }

    .footer-widget {
        font-size: 16px;
    }

    .footer-widget-title {
        font-size: 20px;

        margin-bottom: 10px;
    }

    .footer-widget-list {
        margin-left: -2px;
    }

    .footer-widget-list li {
        margin-bottom: 11px;
    }

    /* Inner page Tours */

    .inner-page .main-header {
        font-size: 28px;
        line-height: 1;
    }

    .inner-page-tours-header {
        margin-bottom: 30px;
    }

    .standart-card,
    .wide-card,
    .high-card {
        width: 290px;
    }

    .cards-wrapper,
    .cards-row {
        gap: 20px 0;
    }

    .cards-column {
        gap: 20px 0;
    }

    .card-title-wrapper {
        height: 50px;

        padding: 0 15px;
    }

    .card-title {
        font-size: 20px;
    }

    /* Tracking */

    .row-article-page {
        align-items: center;

        gap: 20px 0;
    }

    .article-page-nav-title {
        font-size: 22px;
    }

    .article-page-nav-title {
        margin-bottom: 15px;
    }

    .article-page-article {
        width: 100%;
    }

    .article-page-article h1 {
        font-size: 28px;

        margin-bottom: 10px;
    }

    .article-page-nav-list {
        font-size: 16px;
    }

    .article-page-nav-list a {
        padding: 6px 0 9px;
    }

    .article-page-article h2,
    .article-page-article h3,
    .article-page-article h4 {
        line-height: normal;

        margin-top: 17px;
    }

    /* Contacts */

    .contact-block:last-child .contact-block-body {
        width: 290px;
        height: 157px;
    }

    .contact-row {
        gap: 30px 0;
    }

    .contact-block-title {
        font-size: 20px;
    }

    .contact-block:first-child .contact-block-title {
        margin-bottom: 20px;
    }

    .contact-block-body {
        font-size: 16px;
    }

    .contact-info {
        gap: 30px 0;
    }

    .contact-list {
        line-height: 1.3;
    }

    .contact-list li:not(:last-child) {
        margin-bottom: 20px;
    }

    .contact-list-icon {
        padding-left: 35px;
    }

    .contact-list-icon::before {
        top: 0;
    }

    .form {
        padding: 20px 15px 30px;
    }

    .form-title {
        font-size: 24px;
    }

    .form-group {
        font-size: 16px;

        margin-bottom: 20px;
    }

    .form-group-row {
        flex-direction: column;
        gap: 10px 0;
    }

    .form-group-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .input {
        padding: 0 15px;
    }

    .radio-row {
        margin-bottom: 10px;
    }

    .form-group:last-of-type {
        margin-bottom: 20px;
    }

    input.button {
        font-size: 18px;
        line-height: 46px;

        height: 46px;

        padding: 0 35px;
    }

    .checkbox-row {
        margin-bottom: 20px;
    }

}