.checkbox-row {
    display: flex;
    align-items: flex-start;

    margin-bottom: 17px;
}

.checkbox-row:last-child {
    margin-bottom: 0px;
}

.real-checkbox {
    position: absolute;

    opacity: 0;

    width: 0;
    height: 0;
    z-index: -1;

    /* appearance: none; скрывает элемент, поддерживается новыми браузерами */
    appearance: none;
}

.custom-checkbox {
    position: relative;

    display: inline-block;

    flex-shrink: 0;

    vertical-align: bottom;
    width: 20px;
    height: 20px;

    background-color: #EEE;

    border: 1px solid #C0C0C0;
    border-radius: 2px;

    margin-right: 15px;
}

.real-checkbox:focus+.custom-checkbox {
    box-shadow: 0 0 0 2px rgb(42, 42, 42);
}

.custom-checkbox::before {
    position: absolute;

    top: 65%;
    left: 56%;
    transform: translate(-50%, -50%) scale(0);

    content: '';

    display: block;

    width: 17px;
    height: 17px;

    background-image: url(./../img/icons/check.svg);
    background-repeat: no-repeat;

    transition: transform 0.2s ease-in;
}

.real-checkbox:checked+.custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}