.header {
    position: relative;

    height: 800px;
    background-color: #265847;
    background-image: url('./../img/header/header-bg.jpg');
    background-position: center;
    background-size: cover;

    padding-top: 50px;

    color: #fff;
}

.header-inner {
    display: flex;
    align-items: center;

    height: 100px;

    background-color: #265847;
    background-image: url('./../img/header/header-small-bg.jpg');
    background-position: center;
    background-size: cover;

    color: #fff;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1170px;

    margin: 0 auto;
}

.header-nav {
    font-size: 22px;
}

.header-nav-button {
    display: none;
}

.header-nav-list {
    display: flex;
}

.header-nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.header-content {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1170px;

    text-align: center;

    padding-top: 25px;
}

.header-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;

    margin-bottom: 28px;
}

.header-content p {
    font-size: 24px;
}

.header-scroll {
    position: absolute;

    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);

    padding-bottom: 34px;
}

.header-scroll::after {
    position: absolute;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    content: '';

    display: block;

    width: 18px;
    height: 24px;

    background-image: url('./../img/header/arrow-down.svg');
}